body{
    font-family: Helvetica;
    background-color:rgba(97, 64, 8, 0.53);
}
 
 h1,h2{
     font-family:Courier;
     border-radius:4px;}
 
h1{
    background-color:rgba(163, 124, 105);                    
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border-top: 1px rgba(230, 230, 230, 0.7) solid;
    border-bottom: 1px rgba(230, 230, 230, 0.7) solid;
    color:rgba(210, 195, 180);
}
h2
    {font-weight: 100;
    background-color:rgba(139,76,57,0.5);
    color:rgb(210, 195, 180);
    font-size: 25px;
    }
 
a{    text-decoration: none;
    font-size:20px;
    color: rgba(50,0,0,0.5);
    font-weight: bold;
    transition: all .2s ease;}
    
a:hover{
    color:rgb(52, 51, 50);
}
 
@media (max-width: 960px) {
 
    .Title-design{
            width: 700px;}
}
 
@media (max-width: 720px) {
 
    .Title-design{
            width: 500px;}
}
}
 
@media (max-width: 540px) {
 
    .Title-design{
            width: 300px;}
}
 
#Profile
{
    width: 300px;
    margin:0px auto;
    border-radius: 25%;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border: 2px solid #272727eb;
    }
 
.img-center{
    width: 250px;
    height: 250px;    
    border: 2px solid #272727eb;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.Bottom-Click{
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    background-color: rgb(172, 134, 117);
    text-decoration: none;
    font-size:20px;
    color:#d2c3b4;
    font-weight: bold;
}
 
.text-center{
    text-align: center;
    padding:40px;
}
 
.Box-design{
    width:800px;
    margin: 0px auto;                    
    padding: 30px;                                
    border-radius: 4px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    background-color: rgba(67, 48, 24, 0.25);
    text-align: center;
 
}
#Title-design{
    padding: 30px;                       
    border-radius: 10px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);  
    background-color: rgb(205, 192, 176, 0.69); 
    margin: 40px auto;
    padding: 40px;
}
.font-size{
    font-size: 100px;
}
 